
<body>

  <section class = "odd-sect">

  <div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-8">
      <div class="jumbotron">
          <h1 class="display-4">Postcards From Space</h1>
          <hr class="my-4">       
      </div>
    </div>

 <div class="row justify-content-md-center" style="margin-top: 0px">

    <div class="col-md-7 ">

      <div id="carouselExampleControls" class="carousel slide shadow-lg p-3 mb-5 bg-body rounded" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{url1}}" class="d-block w-100" alt="{{title1}}" width="400" height="600">
                <div class = "shadow-sm p-3 mb-5 bg-body rounded">
                  <h3>{{title1}}</h3>
                  <h5>{{date2}}</h5>
                  <hr class="my-4"> 
                  <p></p>{{explanation1}}</p>
                </div>
            </div>

          <div class="carousel-item">
            <img src="{{url2}}" class="d-block w-100" alt="{{title2}}" width="400" height="600">
              <div class = "shadow-sm p-3 mb-5 bg-body rounded">
                <h3>{{title2}}</h3>
                <h5>{{date2}}</h5>
                <hr class="my-4"> 
                <p>{{explanation2}}</p>
              </div>
          </div>

          <div class="carousel-item">
            <img src="{{url3}}" class="d-block w-100" alt="{{title3}}" width="400" height="600">
            <div class = "shadow-sm p-3 mb-5 bg-body rounded">
              <h3>{{title3}}</h3>
              <h5>{{date3}}</h5>
              <hr class="my-4"> 
              <p>{{explanation3}}</p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        
      </div>
    </div>
 </div>
  </section>

  <section class = "even-sect">

  <div class="row align-items-center justify-content-center" style="margin-top: 30px">

      <div class="col" style="text-align: center; margin-top: 30px">            
          <a href = "/mars-rover">
            <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/mars-rover.jpg" style="max-width: 80%; height:384px;">
          </a>                 
          <h3>Mars Rover Photos</h3>                                                                  
          <hr class="my-4"> 
          <p>A searchable collection of photos collected by NASA's team of automated vehicles whilst deployed on Mars.</p>             
      </div>  

      <div class="col" style = "text-align: center; margin-top: 30px">

        <div class="col" style="text-align: center;">            
          <a href = "/nearearth">
            <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/placeholder.png"style="max-width: 80%; height:384px;;">
          </a>                 
          <h3>Linda</h3>
          <hr class="my-4"> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Scelerisque purus semper eget duis at tellus at.
          </p>             
        </div>
      
    </div>
    
  </section>

<section class = "odd-sect">
    <div class="row align-items-center justify-content-center" style="margin-top: 30px">

      <div class="col" style="text-align: center; margin-top: 30px">            
          <a href = "/nearearth">
            <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/asteroid.jpg"style="max-width: 80%; height:384px;">
          </a>                 
          <h3>NeoWs</h3>
          <hr class="my-4"> 
          <p>The Near Earth Object Web-service provides data and tracking of space objects, like meteors, that enter within earth's orbital space.</p>   
          <p>For users whome want to find out how close we have come to total annihilation!</p>
      </div>  

      <div class="col" style = "text-align: center; margin-top: 30px">


        <div class="col" style="text-align: center;">            
          <a href = "/nasaimg">
            <img class="shimg shadow-lg p-3 mb-5 bg-body rounded" src="/assets/img/searchimg.jpeg" style="max-height: 80%; max-width:80%;">
          </a>                 
          <h5>NASA Image Search </h5>
          <p>NASA has extensive image and video  galleries online, including historic images, current missions, astronomy pictures, Earth images and ways to search for NASA images. 
            <br>
          NASA's image library, consolidates all the images, image of the day and image gallery in searchable location. Users can download content in multiple sizes and resolutions and see the metadata associated with images, including EXIF/camera data on many images. 
        </p>           

        <div class="col" style="text-align: center;"style ="max-height: 100%; max-width:100%;">            
          <a href = "/nearearth">
            <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/placeholder.png">
          </a>                 
          <h3>Priya Title</h3>
          <hr class="my-4"> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Scelerisque purus semper eget duis at tellus at.
          </p>  
                  

        </div>
      
    </div>

  </section>

</body>


