
<body>

  <section class="odd-sect">
  
    <div class="row justify-content-md-center" style="margin-top: 0px">
      <div class="col-md-8">
        <div class="jumbotron">
          <h1 class="display-4">Postcards From Space</h1>
          <hr class="my-4">
        </div>
      </div>
  
      <div class="row justify-content-md-center" style="margin-top: 0px margin-bottom: 20px">
  
        <div class="col-md-7 ">
  
          <div id="carouselExampleControls" class="carousel slide shadow-lg p-3 mb-5 bg-body rounded"
            data-bs-ride="carousel">
  
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{url1}}" class="d-block w-100" alt="{{title1}}" width="400" height="600">
                <div class="shadow-sm p-3 mb-5 bg-body rounded">
                  <h3>{{title1}}</h3>
                  <h5>{{date2}}</h5>
                  <hr class="my-4">
                  <p></p>{{explanation1}}</p>
                </div>
              </div>
  
              <div class="carousel-item">
                <img src="{{url2}}" class="d-block w-100" alt="{{title2}}" width="400" height="600">
                <div class="shadow-sm p-3 mb-5 bg-body rounded">
                  <h3>{{title2}}</h3>
                  <h5>{{date2}}</h5>
                  <hr class="my-4">
                  <p>{{explanation2}}</p>
                </div>
              </div>
  
              <div class="carousel-item">
                <img src="{{url3}}" class="d-block w-100" alt="{{title3}}" width="400" height="600">
                <div class="shadow-sm p-3 mb-5 bg-body rounded">
                  <h3>{{title3}}</h3>
                  <h5>{{date3}}</h5>
                  <hr class="my-4">
                  <p>{{explanation3}}</p>
                </div>
              </div>
            </div>
  
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
  
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
  
          </div>
        </div>
      </div>
  </section>
  
  <section class="even-sect">
  
    <div class="row align-items-center justify-content-center" style="margin-top: 15px; margin-bottom: 15px">  

      <div class="col" style="text-align: center; margin-top: 30px;">
        <a href="/mars-rover">
          <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/mars-rover.jpg"
            style="max-width:600px; height:384px;">
        </a>
        <h3>Mars Rover Photos</h3>
        <hr class="my-4">
        <p>A searchable store of photos collected by NASA's automated vehicle's on Mars.  The cameras are located on various points of the vehicles and all angles are viewable.</p>
        <p>There are 5 rover vehicles on Mars and they were launched at various times in the space program.</p>
      </div>
  
      <div class="col" style="text-align: center; margin-top: 30px;">
        <a href="/eonet">
          <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/nat-disaster.jpg"
            style="max-width: 600px; height:384px;">
        </a>
        <h3>Natural Event Tracker</h3>
        <hr class="my-4">
        <p>The world is full of many natural disasters. Use our natural disaster event tracker to see just how many.</p>
         <p>The data is displayed on an easy to navigate google maps object and the data is delivered from one of NASA's open API's. </p>
        
      </div>
  
    </div>
  
  </section>
  
  <section class="odd-sect">    

      <div class="row align-items-center justify-content-center" style="margin-top: 15px; margin-bottom: 15px">

        <div class="col" style="text-align: center; margin-top: 30px;">
          <a href="/nearearth">
            <img class="shimg shadow-sm p-3 mb-5 bg-body rounded" src="/assets/img/asteroid.jpg"
              style="max-width: 600px; height:384px;">
          </a>
          <h3>NeoWs</h3>
          <hr class="my-4">
          <p>The Near Earth Object Web-service provides data and tracking of space objects, like meteors, that enter within earth's orbital space.</p>
          <p>For users whome want to find out how close we have come to total annihilation!</p>
        </div>
    
        <div class="col" style="text-align: center; margin-top: 30px;">
          <a href="/nasaimg">
            <img class="shimg shadow-lg p-3 mb-5 bg-body rounded" src="/assets/img/nasa-img.jpg"
              style="max-width: 600px; height:384px;">
          </a>
          <h3>NASA Image Search</h3>
          <hr class="my-4">
          <p>NASA has extensive image and video galleries online, including historic images, current missions, astronomy pictures, Earth images and ways to search for NASA images. </p>
          <p> NASA's image library, consolidates all the images, image of the day and image gallery in searchable location.</p>
          </p>
        </div>

      </div>

  </section>

</body>


